.destination-page-heading {
    position: relative;
    text-align: center;
    margin-top: 3rem;
}

// .see-more-button {
//     display: flex;
//     justify-content: center;
//     margin: 30px;
// }